/*
 * Globals
 */

body {
  height: 100%;
  background-color: #fff;
  position: relative;
  width: 100%;
  color: #424242;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

/* Section styles */

#home, nav {
  color: #fff;
  background: rgb(70,163,144);
}

section { 
  height: 90vh;
  width: 100vw;
  padding-top: 10vh;
}

section:nth-of-type(2n) {
  background-color: #f6f6f6;
}

section:last-of-type {
  color: #fff;
  background-color: rgba(70,163,144,1);
  height: auto;
  padding: 10vh 0 5vh 0;
}

.lead {
  padding: 2vh 0;
}

.card {
  margin-top: 5vh;
  min-height: 50vh;
  background-color: rgba(255, 255, 255, .5);
}

.card-body {
  padding: 5vh;
}

.row .card-image-placeholder {
  width: 100%;
  height: 20vh;
  background-color: rgba(70,163,144,1);
}

.row .card-image-placeholder:nth-of-type(2n) {
  background-color: rgb(48, 114, 100);
}

.cover-heading {
  font-weight: 700;
  font-size: 3rem;
}

/* Links */

a {
  color: #79CCB5;
  text-decoration: none;
}

a:focus, a:hover {
  color: #72bfa9;
  text-decoration: none;
}

/* Custom buttons */

.btn-secondary {
  color: #fff !important;
  border: .05rem solid #fff;
}

.btn-secondary:hover, .btn-secondary:focus {
  /* Prevent inheritance from `body` */
  color: rgb(70,163,144) !important;
  background: #fff !important;
}

.btn-social {
  color: rgba(255, 255, 255, .9);
}

.btn-social:hover {
  color: #fff;
}

/*
 * Footer
 */

footer {
  color: #fff;
  background-color: rgb(48, 114, 100);
  padding: 3vh 0 1vh 0;
  text-align: center;
}