/*
 * Globals
 */

body {
  height: 100%;
  background-color: #ffffff;
  position: relative;
  width: 100%;
  color: #212529;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

/* Section styles */

section { 
  height: 90vh;
  width: 100vw;
  padding-top: 10vh;
}

section:nth-of-type(2n) {
  background-color: #f6f6f6;
}

.lead {
  padding: 4vh 0;
}

.card {
  margin-top: 5vh;
  padding: 2vh;
  min-height: 50vh;
  background-color: rgba(255, 255, 255, .5);
}

.card-body {
  padding-top: 10vh;
}

/* Links */

a {
  color: #79CCB5;
  text-decoration: none;
}

a:focus, a:hover {
  color: #72bfa9;
  text-decoration: none;
}

/* Custom default button */

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #333;
  border: .05rem solid #333;
}

/*
 * Footer
 */

footer {
  color: rgba(0, 0, 0, .5);
  background-color: #f6f6f6;
  padding: 3vh 0 1vh 0;
  text-align: center;
}

.rotated {
  transform: rotate(180deg);
  margin-top: 10px;
}